
body {
    background-image: url("TemplateFile/yellow.png");
    background-blend-mode:lighten;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

p {
    align-content: center;
}
.img-circle {
/*    display: block;
    margin: 0 auto;
    height: auto;
    width: 150%;
    margin: 0 0 0 -20%;*/
/*    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;*/
    border-radius: 50%;
    color: white;
}

#divCir {
    border-radius: 50%;
    /*background-image: url("Jackie.jpg");*/
    background-repeat: no-repeat;
    height: 130px;
    width: 130px;
    max-width: 130px;
    max-height: 130px;
    background-size: 100%;
    margin-top: 10px;

}
body{
/*          margin-top: 2.54cm;
          margin-bottom: 2.54cm;
          margin-left: 3.175cm;
          margin-right: 3.175cm;*/
      }
#DivContent {
    align-content: center;
}
.font{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;
    color: #000000;
    /*etter-spacing: 0.035cm;*/
}

footer{
    /*align-items: right;
    color: white;
    margin-left: 160px;
    !*margin-top: 20px;*!*/
    color: #000000;
    position: fixed;
    bottom: 0px;
    align-content: right;
}
#fontColor{
    color: #000000;
    white-space: normal;
}